@import '../../styles/variables.scss';

.footer {
    background-color: $blue;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    border-top: 2px solid $blue-light;

    &__copyright {
        color: $white;
        text-align: center;
        font-size: 12px;
    }

    &__logo {
        color: $white;
        font-family: "gotham-bold";
        font-size: 15px;
        text-align: center;
    }
}

@media (min-width: $mobile) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
}