@import "../../styles/variables.scss";

.menu {
    transition: 0.25s all;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $blue;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(-100%, 0);

    &__active {
        transform: translate(0, 0);
    }

    &__list {
        width: 100%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;

        &__second {
            display: none;
        }
    }

    &__item {
        font-family: "gotham-bold";
        font-size: 30px;
        color: $white;

    }
}

@media (min-width: $mobile) {
    .menu {
        position: inherit;
        height: auto;
        background-color: $white;
        display: flex;
        transform: inherit;

        &__list {
            padding: 0 40px;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
            border-radius: 0 0 4px 4px;

            &__second {
                position: absolute;
                top: calc(100% + 4px);
                left: -4px;
                flex-direction: column;
                text-align: left;
                width: max-content;
                min-width: calc(100% + 8px);
                border: 1px solid $black;
                border-radius: 0 0 $radius_small $radius_small;
                box-shadow: 0px 10px 14px 3px rgb(0 0 0 / 19%);
            }
        }

        &__item {
            color: $black;
            font-size: 16px;
            font-family: "gotham-light";
            height: 50px;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 10px;

            &__second {
                background-color: $white;
                padding: 10px 15px;
                border-bottom: 1px solid $black;
                position: relative;

                &:last-child {
                    border-bottom: 0;
                    border-radius: 0 0 $radius_small $radius_small;
                }

                &:hover {

                    &>ul {
                        display: flex;
                        top: 39px;
                        left: 50px;
                        z-index: 2;
                    }
                }
            }

            &:hover {
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    left: 0;
                    bottom: -4px;
                    background-color: $blue;
                }

                &>ul {
                    display: flex;
                }
            }

        }
    }
}